/*#region Initial*/
body {
  margin-top: 0;
  margin: 0 20%;
}

body * {
  text-decoration: none;
  font-family: bitter;
}

/* #endregion */
/* #region header */
header {
  /* margin-top: 0; */
  top: 0;
  padding-top: .8em;
  position: fixed;
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 2%;
  border-bottom: 0.5px solid grey;
  background-color: white;
}

header img {
  height: 5em;
}

nav * {
  color: black;
  font-size: 2em;
  margin: 0 10px;
}

nav a {
  padding: 5px;
  padding-right: 3px;
  border-right: 0.5px solid gray;

}

@keyframes linearwipe{ 
  from { width: 0;opacity: 0 } 
}  

nav a:hover {
  background-color: #424242;
  color: white;
  animation: linearwipe 1s steps(100, end);
  opacity: 1;
  width: 0%;
}

/* #endregion */
/* #region main */
main {
  margin-top: 13%;
}

main > h1 {
  background-color: #005cb2;
  color: white;
}

.card-text {
  border: 1px solid #424242;
  margin: 1% 0; /* verticales horizontales*/
  padding: 0 3% 4% 3%;
  border-radius: 5px;
}

/* boton completado */
.cards a {
  background-color: #005cb2;
  color: white;
  padding: 1.2%;
  border-radius: 3px;
  text-align: end;
}

.cards a:hover {
  cursor: pointer;
  background-color: #005cb280;
}

.complete {
  display: flex;
  justify-content: flex-end;
}

.add {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add h2{
  margin-right: 2px;
  flex-grow: 2;
  text-align: center;
}

.linea {
  width: 32%;
  background: linear-gradient(180deg, #fff 30%, #000 40%, #fff 30%);
  flex-grow: 3;
}

.plus {
  margin: 5px;
  border: 1px solid #424242;
  padding: 1% 1.2%;
  border-radius: 50%;
}

.plus:hover {
  cursor: pointer;
}

/* #endregion */
/* #region footer */
footer {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

footer > p {
  margin-left: 5%;
  font-size: 2em;
}

footer > div {
  margin: 5%;
  font-size: 3em;
}

.fa-facebook {
  color: #005cb2;
  margin: 10px;
}
.fa-instagram {
  color: purple;
  margin: 10px;
}
.fa-linkedin {
  color: rgb(0,119,181);
  margin: 10px;
}
.fa-github {
  margin: 10px;
  color: black;
}

.fa-facebook:hover {
  color: #005cb280;
  margin: 10px;
  cursor: pointer;
}
.fa-instagram:hover {
  color: rgba(128, 0, 128, 0.5);
  margin: 10px;
  cursor: pointer;
}
.fa-linkedin:hover {
  color: rgb(0,119,181,0.5);
  margin: 10px;
  cursor: pointer;
}
.fa-github:hover {
  margin: 10px;
  color: rgba(0,0,0,0.5);
  cursor: pointer;
}

@media (max-width: 1500px) {
  body {
    margin-top: 100px;
  }
}

@media (max-width: 550px) {
  body {
    margin-top: 130px;
  }
}

/* #endregion */