/*#region Initial*/

body {
  margin-top: 0;
  margin: 0 20%;
}

body * {
  text-decoration: none;
  font-family: bitter;
}

/* #endregion */
/* #region header */
header {
  /* margin-top: 0; */
  padding-top: .8em;
  position: fixed;
  display: flex;
  width: 60%;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 2%;
  border-bottom: 0.5px solid grey;
  background-color: white;
}

header img {
  height: 5em;
}

nav * {
  color: black;
  font-size: 2em;
  margin: 0 10px;
}

nav a {
  padding: 5px;
  padding-right: 3px;
  border-right: 0.5px solid gray;

}

@keyframes linearwipe{ 
  from { width: 0;opacity: 0 } 
}  

nav a:hover {
  background-color: #424242;
  color: white;
  animation: linearwipe 1s steps(100, end);
  opacity: 1;
  width: 0%;
}

/* #endregion */
/* #region main */
main {
  padding-top: 7em;
}

main > h1 {
  /* margin-top: 15%; */
  background-color: #005cb2;
  color: white;
}

table {
  width: 100%;
  overflow-x: scroll;
}

table th {
  margin: 1px solid #005cb2;
  background-color: #005cb2;
  color: white;
}

table td {
  margin: 1px solid #005cb2;
}

td > a {
  color: black;
}

.url:hover {
  background-color: rgb(106,183,255,0.5);
}

.malla {
  width: fit-content;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(16,1fr);
  overflow-x: scroll;
  margin-bottom: 5%;
}

.malla * {
  font-size: 0.8em;
  margin: 1px;
}

.malla > div {
  display: flex;
  align-content: center;
}

/* Titulos horizonales */
.header-1 {
  background-color: rgb(255, 217, 120);
}
.header-2 { 
  grid-column: span 2;
  background-color: rgb(255, 217, 120);
}
.header-2 {
  background-color: rgb(255, 217, 120);
}
.header-3 { 
  grid-column: span 3;
  background-color: rgb(255, 217, 120);
}

/* Titulos verticales */
.left-3 { /*Primer y segundo ciclo*/
  grid-row: span 3;
  writing-mode: vertical-lr;
  font-size: 90%;
  text-orientation: upright;
  justify-content: center;
  align-items: center;
  padding: 10%;
  background-color: rgb(64, 202, 216);
}

.left-4{ /*Tercer ciclo*/
  grid-row: span 4;
  writing-mode: vertical-lr;
  text-orientation: upright;
  font-size: 90%;
  justify-content: center;
  align-items: center;
  padding: 10%;
  background-color: rgb(64, 202, 216);
}

.item-number { /*numeros*/
  background-color: rgb(120, 216, 227);
  width: 25px;
}

/* Eliminar seleccion de texto */
.materia {
  background-color: rgb(249, 246, 233);
  display: inline-block;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently*/
}

.materia :hover{
  background-color: rgba(224, 214, 168, 0.747);
  cursor: pointer;
}

/* Results */
.tg {
  width: 60%;
  align-self: center;
  margin-bottom: 5%;
}

.tg * {
  font-size: 1.1em;
}

/* #endregion */
/* #region footer */

footer {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

footer > p {
  margin-left: 5%;
  font-size: 2em;
}

footer > div {
  margin: 5%;
  font-size: 3em;
}

.fa-facebook {
  color: #005cb2;
  margin: 10px;
}
.fa-instagram {
  color: purple;
  margin: 10px;
}
.fa-linkedin {
  color: rgb(0,119,181);
  margin: 10px;
}
.fa-github {
  margin: 10px;
  color: black;
}

.fa-facebook:hover {
  color: #005cb280;
  margin: 10px;
  cursor: pointer;
}
.fa-instagram:hover {
  color: rgba(128, 0, 128, 0.5);
  margin: 10px;
  cursor: pointer;
}
.fa-linkedin:hover {
  color: rgb(0,119,181,0.5);
  margin: 10px;
  cursor: pointer;
}
.fa-github:hover {
  margin: 10px;
  color: rgba(0,0,0,0.5);
  cursor: pointer;
}

@media (min-width: 1100px) {
  header {
    top: 0px;
  }
  body {
    margin-top: 40px;
  }
}

@media (max-width: 570px) {
  header {
    top: 0px;
  }
  body {
    margin-top: 40px;
  }
}
/* #endregion */